.greyfont {
  color: #ffffff;
  opacity: 87%;
  font-size: x-large;
}

.current {
  margin-top: 10px;
  color: #ffffff;
  opacity: 87%;
  font-weight: large;
}

.positive {
  margin-top: 10px;
  padding-left: 0;
  font-weight: small;
  color: #00a656;
}

.negative {
  margin-top: 10px;
  padding-left: 0;
  font-weight: small;
  color: #eb0f29;
}
